nav {
    position: relative;
    display: block;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgb(2, 99, 255);
    color: rgb(0, 0, 0); 
    text-align: center;
    height: 90px;
    padding: 25px 25px 25px 25px;
    margin-bottom: 30px;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.table {
    display: table;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.row {
    display:table-row;
}

.red{
    background-color: red;
    float: left;
    display: table-row;
    width: 150px;
    height: 40px;
}

.White{
    background-color: white;
    float: left;
    display: table-row;
    width: 150px;
    height: 40px;
}

img {
    position: absolute;
    top: 378px;
    width: auto;
    height: 280px;

}

body {
    background-color: navy;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(145, 2, 2);
}
